/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0b1f3a, #020d1f);
  color: white;
  overflow-x: hidden;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  align-items: center;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: #00e5ff;
  text-shadow: 0 0 10px #00e5ff;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #cfd8dc;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00e5ff;
  text-shadow: 0 0 10px #00e5ff;
}

.nav-buttons button {
  margin-left: 10px;
  padding: 8px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.login {
  background: transparent;
  color: white;
}

.get-started {
  background: #00e5ff;
  color: black;
  font-weight: bold;
}

.get-started:hover {
  background: #00bcd4;
  box-shadow: 0 0 15px #00e5ff;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  min-height: 100vh;
  gap: 0px; /* نحينا الفراغ */
}

/* TEXT */
.hero-text {
  max-width: 600px;
  animation: fadeUp 1.5s ease;
}

.hero-text h2 {
  font-size: 3.2rem;
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero-text p {
  color: #b0bec5;
  margin-bottom: 30px;
  font-size: 1.1rem;
}

/* BUTTONS */
.hero-buttons button {
  margin-right: 10px;
  padding: 12px 28px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.btn-main {
  background: #00e5ff;
  color: black;
  border: none;
}

.btn-main:hover {
  background: #00bcd4;
  transform: scale(1.05);
  box-shadow: 0 0 20px #00e5ff;
}

.btn-outline {
  border: 1px solid #00e5ff;
  background: transparent;
  color: #00e5ff;
}

.btn-outline:hover {
  background: #00e5ff;
  color: black;
  box-shadow: 0 0 20px #00e5ff;
}

/* IMAGE CONTAINER */
.hero-image {
  display: flex;
  justify-content: flex-end; /* تبقى في اليمين */
  align-items: center;
  flex: 1;
}

/* IMAGE */
.hero-image img {
  width: 500px;

  mix-blend-mode: screen;
  filter: drop-shadow(0 0 30px rgba(0, 229, 255, 0.6));

  animation: float 3s ease-in-out infinite;
}

/* HOVER */
.hero-image img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

/* ANIMATIONS */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}